/* 1st break point at 1060 || 1082 */

@media only screen and (max-width:1090px) {
    #about .main-banner {
        flex-direction: column;
    }

    #about .left {
        width: 100%;
    }

    #about .main-banner .leftBanner {
        width: auto;
        /*point*/
        height: 60vh;
        /* flex-direction: row; */
    }

    #about .main-banner .right {
        width: 100%;
    }

    #about .rightBanner {
        justify-content: center;
        align-items: center;
    }

    #about .rightBanner .im1 {
        width: 48%;
        background-position: center;
        /*point in style.css*/
        margin: 0px 0px;
        margin-top: 18px;
        height: 39.5vh;
    }

    #about .rightBanner .im1:nth-child(2) {
        margin-left: 27px;
    }

    #about .rightBanner .im1:nth-child(4) {
        margin-left: 27px;
    }
}

@media only screen and (max-width:1060px) {
    .discount .row {
        flex-direction: column;
    }

    .discount .col-lg-6 {
        width: 100%;
    }

    .discount__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .discount__countdown {
        margin-bottom: 25px;
    }

    .countdown__item span {
        margin-left: 13px;
    }

    .countdown__item {
        display: contents;
        flex-direction: column;
    }

    #footer .Col {
        padding-left: 58px;
    }
}

/* Navigation for mobile at 985 */

@media only screen and (max-width:985px) {


    #shutOpen {
        margin-left: 81px;
        margin-top: 10px;
        display: block;
    }

    #shutOpen2 {
        margin-left: 19px;
        margin-top: 10px;
        display: block;
    }

    #shutOpen3 {
        margin-right: 25px;
        margin-left: 92px;
        margin-top: 10px;
        display: block;
    }

    #shutClose {
        height: 0px;
        float: right;
        position: relative;
        top: 20px;
        left: -198px;
        float: right;
        font-size: 22px;
        display: block;
    }

    #shutClose2 {
        height: 0px;
        float: right;
        position: relative;
        top: 18px;
        left: -216px;
        float: right;
        font-size: 22px;
        display: block;
    }

    #shutClose3 {
        display: block;
        height: 0px;
        float: right;
        position: fixed;
        top: 514px;
        left: 32px;
        font-size: 22px;
    }

    #openMenu {
        display: block;
        font-size: 21px;
        color: black;
    }

    #header .sideMenu i {
        font-size: 20px;
    }

    #header .sideMenu .cart {
        margin-right: 12px;
        margin-left: 4px;
    }

    #closeMenu {
        display: block;
        position: absolute;
        top: 35px;
        left: 293px;
        color: #222;
        font-size: 24px;
    }

    .Open {
        /* display: none; */
        display: block;
    }

    /* #header .sideMenu {
        display: none;
    } */
    .sideMenu li:nth-child(1) {
        display: none;
    }

    .sideMenu li:nth-child(2) {
        display: block;
    }


    .mobileOnly {
        display: block;
        width: 96%;
        height: 160px;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 20px;
        border: 2px solid white;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
    }

    .mobileOnly i {
        font-size: 37px;
        padding-bottom: 5px;
    }

    .mobileOnly .i {
        border: 2px solid white;
        height: 89px;
        width: 28%;
        /* justify-content: center; */
        /* align-items: center; */
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 80px;
        /* margin-left: 120px; */
        margin: auto;
    }

    .mobileOnly .t {
        padding-top: 17px
    }

    .mobileOnly .t li a {
        font-size: 24px;
        font-weight: 600;
    }

    #list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: -360px;
        height: 100vh;
        width: 355px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 106px 0 0 15px;
        transition: 0.4s;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #list.active {
        left: 0px;
    }

    #list li:nth-child(2) {
        padding-top: 23px;
    }

    #navbar li a {
        font-size: 20px;
        padding: 5px;
    }

    #navbar li {
        padding-bottom: 10px;
    }

    .megamenu-item {
        display: flex;
        /* flex-direction: column; */
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #list img {
        /* margin: auto;
        margin-left: 197px;
        margin-top: 8px;
        /* font-size: 38px; */
        height: 14px;
        display: none;
    }

    .megamenu2,
    .megamenu1 {
        opacity: 0;
        visibility: unset;
        z-index: 200;
        /* box-shadow: 0 1px 4px rgba(0, 0, 0, .15); */
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        width: 240%;
        /* width: 93%; */
        height: 0vh;
        position: unset;
        border-radius: 7px;
    }

    /* #megamenuItem{
        display: flex;
        flex-direction: column;
    } */

    .megamenu .list1 {
        width: 100%;
        display: inline-block;
        /* float: left; */
        padding: 15px;
        /* border-right: 1px solid #f2f4f8; */
    }

    .megamenu {
        opacity: 0;
        visibility: unset;
        z-index: 200;
        /* box-shadow: 0 1px 4px rgba(0, 0, 0, .15); */
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        width: 92%;
        /* width: 93%; */
        height: 0vh;
        position: unset;
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    /* #shutOpen{
        padding-left: 135px;
    } */

    .megaMenuJs {
        opacity: 1;
        height: 46vh;
        margin-top: 19px;
    }

    .megaMenuJsremove {
        opacity: 0;
        height: 0vh;
        margin-top: 0px;
    }

    .padd {
        /* padding-top: 420px; */
        margin-top: 40px;
    }

    /* .megamenu-item:focus .megamenu1, .megamenu-item:hover .megamenu1 {
        opacity: unset;
    } */

    .services {
        padding-top: 40px;
    }

    .col-lg-3 {
        padding-top: 18px;
    }

    #footer .Foot {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }

    #footer .Foot .right {
        position: relative;
        padding-top: 17px;
        /* width: 16%; */
        margin-right: 0px;
    }

    #footer .Col {
        padding-left: 0px;
    }

    #footer .left {
        justify-content: space-between;
    }

    #footer .Foot .right input {
        width: 73%;
        padding: 16px 45px;
        border-radius: 10px;
    }

    #trends .main-pre {
        flex-wrap: wrap;
    }

    #trends .main-tre {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #trends .main-pre:nth-child(2) {
        padding-left: 0px;
    }

    #trends .main-pre:nth-child(3) {
        padding-left: 0px;
        padding-top: 60px;
    }



    /* Blog Page */

    #blog {
        padding: 98px 76px 0px 110px;
    }
}

@media only screen and (max-width:780px) {
    #about .rightBanner .im1 {
        width: 100%;
    }

    #about .rightBanner .im1:nth-child(2) {
        margin-left: 0px;
    }

    #about .rightBanner .im1:nth-child(4) {
        margin-left: 0px;
    }

    #newProduct .text {
        flex-direction: column;
        flex-wrap: wrap;
    }

    #newProduct .text h3 {
        margin-left: 12px;
    }

    #newProduct .text ul li {
        padding: 20px 17px;
    }


    /* footer */
    .copyrightMain {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
    }

    .copyLeft {
        margin-left: 0px;
    }

    #footer .Foot .right input {
        width: 100%;
    }



    /* Blog Page */


    #blog {
        padding: 92px 17px 0px 83px;
    }
}


/* For small mobile in header maintain size of logo and size of i */

@media only screen and (max-width:675px) {
    #header a img {
        width: 87px;
        margin-left: -20px;
    }

    .discount__pic img {
        width: 100%;
    }

    #newProduct .text h3 {
        margin-left: 6px;
    }

    #newProduct .text ul li {
        padding: 16px 10px;
    }

    #trends .tText span {
        font-size: 18px;
    }

    #trends .tText .star {
        font-size: 9px;
    }

    #trends .tText h4 {
        font-size: 20px;
    }

    #trends h4 {
        font-size: 23px;
    }

    #trends .main-tre .main-pre .t1 .tImg img {
        min-width: 137%;
    }

    #trends .tText {
        padding-left: 92px;
    }

    #trends .main-pre:nth-child(2) {
        padding-top: 60px;
    }

    .p1 {
        padding: 40px 27px;
    }

    .p1 .im1 h2 {
        font-size: 32px;
        margin-left: 22px;
        /* margin-bottom: -5px; */
    }

    .p1 .im1 p {
        margin: 3px 0px 0px 22px
    }

    #about .leftBanner h2 {
        font-size: 25px;
    }

    #about .leftBanner p {
        font-size: 12px;
        margin: 2px 0 17px 0;
    }

    #about .rightBanner h2 {
        padding-top: 25px;
    }

    #header .sideMenu i {
        margin-right: -26px;
    }

    #header .sideMenu li a {
        margin-left: 27px;
        margin-right: -2px;
    }

    #footer .Foot .right input {
        width: 100%;
    }




    /* Blog page */

    #blog {
        padding: 78px 0px 0px 31px;
    }

    #blog .blog-div h1 {
        font-size: 46px;
    }
}



@media only screen and (max-width:525px) {
    #header .sideMenu li a {
        margin-left: 27px;
        margin-right: -2px;
    }

    #about .leftBanner h2 {
        font-size: 25px;
    }

    #about .leftBanner p {
        font-size: 12px;
    }

    #header a img {
        width: 85px;
        margin-left: -20px;
    }

    .row {
        justify-content: flex-start;
    }

    #newProduct .text h3 {
        margin-left: 5px;
    }

    .countdown__item span {
        font-size: 18px;
    }

    .countdown__item p {
        font-size: 8px;
    }

    .discount__text__title h2 {
        font-size: 44px;
    }

    /* .services .container .row{
        display: flex;
        flex-direction: column;
    } */

    #footer .left {
        display: contents;
    }

    .col-lg-3 {
        padding-left: 0px;
    }

    .services .container .row {
        padding-left: 71px;
    }

    .services__item {
        display: flex;
        flex-direction: column;
        padding-left: 90px;
        position: relative;
        margin-bottom: 20px;
    }

    .services__item i {
        font-size: 51px;
    }

    .services__item h6 {
        font-size: 23px;
    }

    .services__item p {
        font-size: 20px;
    }

    #newProduct .text ul {
        flex-wrap: wrap;
    }

    #newProduct .pro {
        padding-top: 10px;
    }

    #newProduct .text h3 {
        padding-bottom: 13px;
    }

    #newProduct .text ul li {
        padding: 6px 10px;
    }

    #trends .tText {
        padding-left: 65px;
    }

    #trends .main-tre .main-pre .t1 .tImg img {
        min-width: 125%;
    }

    .discount__text__title {
        text-align: center;
        position: relative;
        /* z-index: 1; */
        margin-bottom: 36px;
    }

    #newProduct .text h3 {
        margin-left: 6px;
    }

    .p1 {
        padding: 40px 27px;
    }

    .p1 .im1 h2 {
        font-size: 32px;
        margin-left: 22px;
    }

    .p1 .im1 p {
        margin: 3px 0px 0px 22px
    }

    #about .leftBanner h2 {
        font-size: 25px;
    }

    #about .leftBanner p {
        font-size: 12px;
        margin: 2px 0 17px 0;
    }

    #about .rightBanner h2 {
        padding-top: 25px;
    }

    #trends h4 {
        font-size: 26px;
    }



    .services__item {
        padding-left: 82px;
    }

    .services__item i {
        font-size: 40px;
    }

    .services__item h6 {
        font-size: 20px;
    }

    .services__item p {
        font-size: 18px;
    }

    #header .sideMenu i {
        margin-right: -26px;
    }

    #footer .Foot .right input {
        width: 100%;
    }



    /* Blog page */

    #blog {
        padding: 70px 20px 0 20px;
    }

    #blog .blog-div {
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-div .blog-img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #blog .blog-text {
        width: 100%;
    }

    #directory {
        padding: 40px 26px;
    }
}